
html, body{
  width: 100%;
  height: 100%;
  position: relative;
}


img{
  image-rendering: -webkit-optimize-contrast;
}


.center{ text-align: center; }

.row,
.form-group{
  margin: 0 !important;
  overflow: hidden;
}

a{
  color: inherit;
}

button{
  outline: 0;
}



.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.disp_inline_flex{
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.disp_none{
  display: none;
}

.disp_block{
  display: block !important;
}






/*==================================================================================================*/
/*MENU MOBILE - ANIMAÇÃO HAMBURGUER*/
/*==================================================================================================*/



#nav-icon1{
  width: 35px;
  height: 32px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #00ABDD;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1){
  top: 0px;
}

#nav-icon1 span:nth-child(2){
  top: 10px;
}

#nav-icon1 span:nth-child(3){
  top: 20px;
}

#nav-icon1.open span:nth-child(1){
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2){
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3){
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


/*==================================================================================================*/
/*MENU*/
/*==================================================================================================*/



.menu_holder {
    position: sticky;
    top: 0;
    margin: auto;
    padding: 15px 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    border-bottom: none;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.menu_holder .navbar-header {
  position: relative;
}


.menu_holder .navbar-header img {
  width: 167px;
}
.menu_holder .menu-toggler{
  position: absolute;
  background: transparent;
  border: 0;
  width: 35px;
  top: 18px;
  right: 5%;
  cursor: pointer;

  display: none;
}


.menu_holder .menu-toggler span {
  height: 3px;
  width: 100%;
  background-color: #e3861d;
  margin-top: 5px;
  display: block;
  border-radius: 2px;

  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.menu_holder .menu-toggler:hover span {
  background-color: #808b92;
}

.menu_holder .menu{
  display: inline-block;
  margin: 10px 0 10px 50px;
  float: right;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}


.menu_holder .menu-nav {
  margin: 7px 0 0 0;
}

.menu_holder .menu-nav .dropdown{
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  position: relative;
}


/*MENU FONT COLOR*/
.menu_holder .menu-nav .dropdown a {
  font-family: unset;
  font-size: 16px;
  color: #000;
}


.menu_holder .menu-nav .dropdown > a{
  padding-bottom: 7px;
}

.menu_holder .menu-nav .dropdown.active a,
.menu_holder .menu-nav .dropdown a:hover,
.menu_holder .menu-nav li.active > a,
.menu_holder .menu-nav li.active:hover > a {
  color: #000;
  text-decoration: none !important;
}



/*SUB-MENU*/
.menu_holder .dropdown-menu {
  background-color: #FF6B00;
  cursor: default;
  margin-top: 15px;
  position: absolute;
  top: 11px;
  left: 0;
  padding: 0;
}
.menu_holder .dropdown-menu hr{
  width: 80%;
  margin: 8px auto;
  border-top: 1px solid #ccc;
}
.menu_holder .dropdown-menu a{
  color: #fff !important;
  padding: 5px 15px;
}
.menu_holder .dropdown-menu a:hover{
  background-color: #994d00;
}
.menu_holder .dropdown-menu li:hover{
  background-color: rgba(9, 9, 121, 0.4);
}

.menu_holder.scroll .dropdown-menu {
  background-color: #fff;
  cursor: default;
}


.menu_holder .menu-nav .dropdown:hover::after,
.menu_holder .menu-nav li.active::after {
  width: Calc(100% + 13px);
}

.menu_holder .menu-nav .dropdown::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--light_blue);
  position: absolute;
  left: -6px;
  bottom: -6px;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}





@media screen and (min-width: 993px) {
  .menu_holder .menu {
      display: inline-block !important;
  }
}

@media screen and (max-width: 1200px) {
  .menu_holder .menu-nav .dropdown a{
      font-size: 14px;
  }
}

@media screen and (max-width: 992px) {

  .menu_holder{
      padding: 25px 0;
  }

  .menu_holder .container{
      padding: 0 20px;
      width: 90%;
  }

  .menu_holder .navbar-header {
      top: 0;
      margin-left: 0;
  }

  .menu_holder .menu-toggler{
      display:block;
  }

  .menu_holder .menu {
      margin: 40px 0 0;
      width: 100%;

      display: none;
  }

  .menu_holder .menu.aberto{
      display: block
  }

  .menu_holder .menu-nav {
      padding: 0;
  }

  .menu_holder .menu-nav .dropdown {
      display: block;
      width: 100%;
      margin: 15px;
  }

  .menu_holder .menu-nav .dropdown:hover::after,
  .menu_holder .menu-nav li.active::after {
      width: 150px;
  }
}

@media screen and (max-width: 768px) {}



.bloco{
  position: relative;
  width: 100%;
  padding: 85px 0;
  overflow: hidden;
}

.bloco hr{
  border-top: 3px solid #dbdbdb;
  width: 65%;
}


@media screen and (max-width: 992px) {
  .bloco{
      padding: 40px 0;
  }
}



.each_product {
    position: relative;
    min-height: 112px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 7px 15px;
    padding-bottom: 38px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 0 18px -9px #00ABDD;
    cursor: pointer;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.each_product:hover {
    box-shadow: 0 0 19px -5px #00ABDD;
}

.each_product img {
    height: 85px;
    object-fit: cover;
}

.each_product .name {
    font-size: 15px;
}

.each_product .price {
    font-size: 20px;
    font-weight: bold;
    color: #00ABDD;
    margin-top: 8px;
}

.each_product .add {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00ABDD;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    color: #fff;
}

.each_product .add i {}

.msg_removed,
.msg_added{
    position: sticky;
    top: 84px;
    margin: auto;
    width: fit-content;
    background-color: #00ABDD;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    z-index: 10;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.cart{}

.cart img{
    height: 35px;
    object-fit: cover;
}

.cart i{
    color: red;
    font-size: 18px;
}

.total{
    text-align: right;
    margin-right: 15px;
}

.total .price{
    font-size: 18px;
    font-weight: bold;
}




